.wind {
  position: absolute;
  top: 40%;
  left: -10%;
  right: 0;
  height: 40px;
  z-index: 4;
  animation: leftToRight 2.75s ease-in-out forwards;
}

.wind .wind-1 {
  width: 50px;
  position: absolute;
  z-index: 6;
}

.wind .wind-2 {
  width: 70px;
  position: absolute;
  top: 15px;
}
.wind .wind-3 {
  width: 100px;
  position: absolute;
  top: 10px;
}

.wind .wind-4 {
  width: 150px;
  margin-left: -50px;
  position: absolute;
  top: 10px;
}

.wind .cloud-1 {
  width: 80px;
  margin-left: 120px;
  position: absolute;
  top: 10px;
}

.wind .cloud-2 {
  width: 80px;
  margin-left: 100px;
  position: absolute;
  top: -10px;
}

.wind .cloud-3 {
  width: 120px;
  margin-left: 140px;
  position: absolute;
  top: 15px;
  z-index: 6;
}

.wind .white-cloud {
  width: 100px;
  margin-left: 170px;
  position: absolute;
  top: 15px;
  z-index: 5;
}

.wind .white-cloud-2 {
  width: 100px;
  margin-left: 90px;
  position: absolute;
  top: 35px;
  z-index: 6;
}

@keyframes leftToRight {
  0% {
    left: -100%;
    opacity: 0.1;
  }

  100% {
    left: 110%;
    opacity: 1;
  }
}
