.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  padding-top: 5vh;
}

.main > section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3vh;
  animation: visibleText 3s ease-in-out;
  z-index: 5;
}

.main > section > h1 {
  font-size: 48px;
  font-family: "궁서체", "ChosunGs";
  font-weight: 700;
}

.main > section > h2 {
  font-size: 36px;
  font-family: "궁서체", "ChosunGs";
  font-weight: 700;
}

.main > section > p {
  font-size: 18px;
  font-weight: 500;
}

@keyframes visibleText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
