.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
  padding-top: 5vh;
  overflow: hidden;
}

.main > section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3vh;
  animation: visibleText 3.5s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0.1;
  z-index: 5;
}

.main > section > h1 {
  font-size: 48px;
  font-family: "궁서체", "ChosunGs";
  font-weight: 700;
}

.main > section > h2 {
  font-size: 36px;
  font-family: "궁서체", "ChosunGs";
  font-weight: 700;
}

.main > section > p {
  font-size: 18px;
  font-weight: 500;
}

@keyframes visibleText {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
