.sun-wrap {
  display: flex;
  position: absolute;
  top: 120px;
  opacity: 0.1;
  visibility: hidden;
  animation: rise 2s ease-in-out forwards;
  animation-delay: 1.5s;
}

.sun {
  width: 60vw;
  height: 60vw;
  max-width: 700px;
  max-height: 700px;
  border-radius: 50%;
  background: linear-gradient(to top, rgba(255, 80, 30, 0.9) 40%, yellow);
}

@media screen and (min-width: 768px) {
  .sun {
    width: 300px;
    height: 300px;
  }
}

.sun-wrap .cloud {
  position: absolute;
  width: 150px;
}

.sun-wrap .black-cloud {
  bottom: -40px;
  animation: leftDisapear 2s ease-in-out 3.5s forwards;
}

.sun-wrap .black-cloud-1 {
  bottom: 0px;
  left: -20px;
  animation: leftDisapear1 1.2s ease-in-out 3.5s forwards;
}

.sun-wrap .white-cloud {
  bottom: -40px;
  right: 0;
  animation: rightDisapear 2s ease-in-out 3.5s forwards;
}

.sun-wrap .white-cloud-1 {
  bottom: -60px;
  right: -20px;
  animation: rightDisapear1 1.2s ease-in 3.5s forwards;
}

@keyframes rise {
  0% {
    visibility: hidden;
    top: 120px;
    opacity: 0.1;
  }

  100% {
    visibility: visible;
    top: 20px;
    opacity: 1;
  }
}

@keyframes leftDisapear {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes leftDisapear1 {
  0% {
    left: -20px;
  }
  100% {
    left: -100%;
  }
}

@keyframes rightDisapear {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

@keyframes rightDisapear1 {
  0% {
    right: -20px;
  }
  100% {
    right: -100%;
  }
}
